__pycache__/
.env
*.log
.idea/
.vscode/
.DS_Store
node_modules/
coverage/
dist/
build/
*.pyc
*.pyo
*.pyd
*.sqlite3
*.db
*.egg-info/
pip-wheel-metadata/
htmlcov/
.tox/
.coverage
.cache
.pytest_cache/
migrations/
instance/
celerybeat-schedule
*.pot
*.mo
*.log
*.sqlite
*.bak
*.swp
*.swo
*.tmp
*.old
*.orig
*.rej
*.class

# Ignore IDE specific files
*.iml           
*.ipr
*.iws
out//